
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}
html, body, #root { height: 100%; }
* { box-sizing: border-box; }
:root {
  --bg: white;
  --fg: black;
}
.dark {
  --bg: #0f172a; /* cinza escuro */
  --fg: #f8fafc; /* quase branco */
}
body {
  background-color: var(--bg);
  color: var(--fg);
}
